<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CCP Test Cases Suite" parallel="classes" thread-count="2">
    <test name="Customer Test" preserve-order="true">
        <classes>
            <class name="com.example.tests.TestCaseOne"/>
            <class name="com.example.tests.TestCaseTwo"/>
            <class name="com.example.tests.TestCaseThree"/>
        </classes>
    </test>
</suite>